# Dependencies for development and production
numpy
pandas
requests
python-dotenv
jupyterlab
plotly
notebook
ipywidgets
numpy
polygon-api-client
statsmodels
tables
pandas_datareader
matplotlib
scikit-learn
seaborn
